@{
    ViewData["Title"] = "Bienvenido a Cobalto Agencia digital.";
}

<div class="text-center">
    <h1 class="display-4">Nosotros somos la mejor opción cuando de estrategía digital se trata</h1>
</div>
